/*-------------------------------------------*\
                   general
\*-------------------------------------------*/

html {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  background-color: #D3322C;
  padding: 0;
  margin: 0;
  height: 100%;
}

a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding: 0;
}

.row {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: inherit;
}

/*-------------------------------------------*\
              reusable components
\*-------------------------------------------*/

.btn-sharp {
  display: block;
  margin: 8vh auto;
  padding: 20px 40px;
  background-color: #fff;
  outline: none;
  border: none;
  color: #d3322c;
  font-size: 18px;
  font-weight: 700;
  transition-duration: .3s;
}

.btn-sharp:hover,
.btn-sharp:focus,
.btn-sharp:active {
  color: #fff;
  background-color: #e4433d;
}

section header {
  margin: 80px auto 40px;
  text-align: center;
  color: #fff;
}

section header h1 {
  font-family: 'Lobster';
  font-size: 40px;
  letter-spacing: 2px;
}

section header small {
  font-family: 'Montserrat';
  font-size: 16px;
  letter-spacing: 0;
}

code {
  color: #e4433d;
  background-color: transparent;
  border: 1px solid #e4433d;
  border-radius: 4px;
  margin-right: 10px;
  padding: 2px 4px;
}

/*-------------------------------------------*\
                  top header
\*-------------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  padding: 14px 0 10px;
  display: flex;
  align-items: flex-end;
  background-color: #222;
}

.header img {
  display: inline-block;
  margin: 0 20px 7px;
}

.header h1 {
  display: inline-block;
  margin: 0;
  color: #fff;
  font-family: 'Lobster';
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1px;
}

.header small {
  display: inline-block;
  margin-left: 1em;
  margin-bottom: 2px;
  color: #ddd;
  font-family: 'Montserrat';
  font-size: 18px;
  letter-spacing: 0px;
}

/*-------------------------------------------*\
                   main
\*-------------------------------------------*/

main {
  height: 100vh;
  color: #fff;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: center;
  background-image: url("img/bg-pizza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

main .loader {
  width: 180px;
  height: 200px;
  margin: 10vh auto 5vh;
}

main p {
  width: 50vw;
  margin: 0 auto 20px;
}

/*-------------------------------------------*\
                   offer
\*-------------------------------------------*/

.row--offer {
  text-align: center;
  color: #fff;
  padding: 0;
}

.row--offer h3 {
  font-family: 'Oswald';
  margin: 0;
  padding: 20px 0;
  padding-bottom: 40px;
  letter-spacing: 1px;
}

.row--offer .offer__item {
  border: 2px dashed #fff;
  min-height: 200px;
  background-color: #e4433d;
  -webkit-box-shadow: 0px 10px 45px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 45px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 45px -5px rgba(0, 0, 0, 0.75);
}

/*-------------------------------------------*\
                suggestions
\*-------------------------------------------*/

.row--suggest img {
  border: 5px solid #fcfcfc;
  width: 100%;
  height: 200px;
}

.ingredients {
  min-height: 140px;
  padding: 10px;
  background-color: #fcfcfc;
  margin-bottom: 20px;
}

.ingredients h4 {
  margin-bottom: .8em;
  font-family: 'Oswald';
  font-size: 24px;
  text-align: center;
}

.ingredients p {
  text-align: center;
  color: #666;
  font-family: 'Open Sans';
  font-size: 16px;
  margin: 0;
}

/*-------------------------------------------*\
                customizations
\*-------------------------------------------*/

.row--customize {
  color: #222;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 10px 45px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 45px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 45px -5px rgba(0, 0, 0, 0.75);
}

.row--customize [class*='col-'] {
  height: 100%;
  padding: 0px;
}

.row--customize h2 {
  margin: 0;
  padding: 20px 10px;
  background-color: #ddd;
  font-size: 20px;
  font-family: 'Oswald';
  letter-spacing: 3px;
}

.row--customize i {
  font-size: 18px;
  margin-right: 5px;
}

label input[type="radio"]~i.far.fa-circle,
label input[type="radio"]:checked~i.far.fa-dot-circle,
label input[type="checkbox"]~i.far.fa-square,
label input[type="checkbox"]:checked~i.fas.fa-check-square {
  color: #e4433d;
  display: inline;
}

input[type=radio],
input[type=checkbox],
label input[type="radio"]~i.far.fa-dot-circle,
label input[type="radio"]:checked~i.far.fa-circle,
label input[type="checkbox"]~i.fas.fa-check-square,
label input[type="checkbox"]:checked~i.far.fa-square {
  display: none;
}

.form__item {
  display: block;
  height: 43px;
  padding: 10px 0 10px 10px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: 14px;
  text-align: left;
  font-family: 'Open Sans';
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}

.requests {
  width: 90%;
  margin: 10px 5%;
}



@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 98vw !important;
  }
  .btn {
    font-size: 12px;
  }
  .row--customize i {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 90vw !important;
  }

  .btn:last-child {
    border-bottom: none;
  }

  main p {
    width: 90vw;
  }
}

@media only screen and (max-width: 575.98px) {
  .header small {
    display: none;
  }
}
