/* ==================== STYLE ========================== */
a
{
  color: inherit !important;
  text-decoration: none;
}

/* ==================== LAYOUT ============================= */
body
{
  font-family: 'Montserrat' !important;
  background-color: #D3322C !important;
}

col-md-3
{
  padding: 0;
}
header
{
  margin: 0;
  line-height: 0px;
}
.section-title
{
  color: #fff;
  font-family: 'Lobster';
  margin: 80px 0 30px 0;
  letter-spacing: 2px;
}
.section-title small
{
  color: #eee;
  font-family: 'Montserrat';
  font-size: 16px;
  letter-spacing: 0;
}

/* ==== BG-1 - MOTTO HEADER ===== */
.bg-1
{
  padding: 7px 0;
  background-color: #222;
  color: #efeeee;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.bg-1 h1
{
  font-family: 'Lobster';
  font-weight: 700;
  font-size: 34px;
  margin: 10px 0;
  color: #fff;
  letter-spacing: 1px;
}
.bg-1 small
{
  font-family: 'Montserrat';
  color: #ddd;
  margin-left: 13px;
  letter-spacing: 0px;
  font-size: 18px;
}



/* ===== BG-2 - DECISION POINT ===== */
.bg-2
{
  padding-top: 30px;
  height: 100vh;
  color: #fff;
  font-size: 24px;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 36px;
  background-image: url("img/bg-pizza.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.btn-sharp
{
  margin-top: 60px;
  transition-duration: 300ms;
  background-color: #fff;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  outline: none;
  border: none;
  color: #d3322c;
}
.btn-sharp:focus, .btn-sharp:active
{
  -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.75), 0px 10px 45px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.75), 0px 10px 45px -5px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.75), 0px 10px 45px -5px rgba(0,0,0,0.75);
}
.create:hover, .create:focus, .create:active
{
  color: #fff;
  background-color: #e4433d;
}
.submit
{
  margin-bottom: 100px;
  -webkit-box-shadow: 0px 10px 45px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 45px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 45px -5px rgba(0,0,0,0.75);
}

.loader
{
	width: 180px;
	height: 200px;
  margin: 50px auto;
}


/* ====== SALE - SOLDES === */
.soldes
{
  max-width: 880px;
  text-align: center;
  color: #fff;
  padding: 0;
}
.soldes h3
{
  font-family: 'Oswald';
  margin: 0;
  padding: 20px;
  padding-bottom: 40px;
  letter-spacing: 1px;
}

.soldes [class*='col-']
{
  border: 2px dashed #fff;
  margin: 10px;
  height: 200px;
  width: 200px;
  padding: 0;
  -webkit-box-shadow: 0px 10px 45px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 45px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 45px -5px rgba(0,0,0,0.75);
}


/* ====== SUGGESTIONS === */
.suggestions
{
  max-width: 940px;
}
.suggestions [class*='col-']
{
  width: 220px;
  margin-right: 20px;
  padding: 0;
}
.suggestions [class*="col-"]:last-child
{
  margin: 0;
}

.suggestions img
{
  border: 10px solid #eedcdc;
}
.ingredients
{
  width: 220px;
  height: 130px;
  padding: 10px;
  background-color: #eedcdc;
  margin-bottom: 20px;
}
.ingredients h4
{
  margin-top: 0;
  font-family: 'Oswald';
  font-size: 22px;
}
.ingredients p
{
  font-size: 16px;
}



/* ===== PIZZA SECTION ( BG-3, BG-4, BG-5)===== */
.create-page
{
  color: #222;
  letter-spacing: 1px;
  margin: 40px 0 80px 0;
  max-width: 1100px;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 10px 45px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 45px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 45px -5px rgba(0,0,0,0.75);
}
.bg-3 [class*='col-']
{
  height: 330px;
}
.bg-4 [class*='col-']
{
  height: 500px;
}
.bg-5 [class*='col-']
{
  height: 370px;
}

.create-page h2
{
  font-size: 20px;
  font-family: 'Oswald';
  letter-spacing: 3px;
  background-color: #ddd;
  margin: 0;
  padding: 20px 0 20px 10px;
}
.create-page p
{
  font-size: 16px;
}
.btn code
{
  color: #e4433d;
  background-color: transparent;
  border: 1px solid #e4433d;
  margin-right: 10px;
}

.create-page [class*='col-']
{
  padding: 0px;
}
label input[type="radio"] ~ i.fa.fa-circle-o
{
    color: #e4433d;
    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o
{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o
{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o
{
    color: #e4433d;
    display: inline;
}


label input[type="checkbox"] ~ i.fa.fa-square-o
{
    color: #e4433d;
    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o
{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o
{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o
{
    color: #e4433d;
    display: inline;
}
.btn-group
{
  width: 100%;
  height: 100%;
}


div[data-toggle="buttons"] label
{
  display: inline-block;
  padding: 10px 0 10px 10px;
  height: 43px;
  font-size: 14px;
  text-align: left;
  font-family: 'Open Sans';
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0 !important;
  outline: none !important;
}

div[data-toggle="buttons"] label:hover
{
  color: #000;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active
{
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  color: #222;
}
#requests
{
  width: 90%;
  margin: 20px 5% ;
}



@media only screen and (max-width: 420px)
{
  .bg-1 h1
  {
    font-size: 20px;
  }
  .bg-1 small
  {
    font-size: 14px;
    margin-left: 5px;
  }

  .bg-2
  {
    font-size: 18px;
  }
  .bg-2 .create
  {
    font-size: 16px;
    padding: 10px 20px;
  }

  .loader
  {
    margin: 20px auto 15px auto;
  }

}
